.fileupload{
    background-color: #fff;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    border: dotted;
    justify-content: center;
    padding: 20px;
}

.cardlabtest{
    
  
 
   background-color: #fff;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    border: dotted;
    justify-content: center;
    padding: 20px;

}

